<div id="change-rating-div<%= item.id %>">
  <span class="item-DD-small"><strong>User Rating: </strong>
    <% if !item.user_rating.nil? %>
      <%= @ratings_collection.assoc(item.user_rating)[1] %>
      <% else %>
      None
    <% end %>
  </span>
  <button class="hollow button secondary small btn-action" type="button" data-toggle="change-rating-dropdown<%= item.id %>" >Change User Rating</button>
  <div class="dropdown-pane" data-position="bottom" data-alignment="center" id="change-rating-dropdown<%= item.id %>" data-dropdown data-auto-focus="true">
    <%= form_with model: BooksUser.find(item.id), data: {'js-change-rating-form' => true} do |f| %>
      <div class="grid-container">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-12">
            <% @ratings_collection.each do |ratings_array| %>
              <%= f.radio_button :user_rating, ratings_array.first %>
              <%= f.label :user_rating, "#{ratings_array.last}", value: "#{ratings_array.first}" %>
            <% end %>
          </div>
          <div class="cell medium-12">
              <%= f.submit "Submit", name: "change_rating", class: "button tiny secondary change-status-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
