<%= render "search_book_form" %>
<hr >
<% if !user_signed_in? %>
  <h5 class="page-heading">Books bookmarked by other Users</h5>
<% else %>
  <h5 class="page-heading">My Book Bookmarks</h5>
  <p class="heading-link">
    <%= link_to "Browse Books bookmarked by others", books_path(show_available: "Show Available") %>
  </p>
<% end %>
<p></p>
<% if !@empty_msg_books.nil? %>
  <p><%= @empty_msg_books %></p>
<% else %>
  <% remove_books = [] %>
  <% if current_user && !@books_to_exclude.nil? %>
    <% @books_to_exclude.each do |row| %>
      <% remove_books << row["book_id"] %>
    <% end %>
  <% end %>

  <% @books.each do |item| %>
    <% next if current_user && remove_books.include?(item.book_id) %>
    <div id="delete-div<%= item.id %>" >
      <div class="grid-x grid-margin-x">
        <%= render partial: "layouts/book", object: item.book %>
            <% if (current_user && current_user.id == item.user_id) %>
              <div class="grid-x grid-margin-x">
                <div class="small-12 large-4 cell">
                  <%= render partial: "change_status_form", locals: {item: item} %>
                </div>
                <div class="small-12 large-8 cell">
                  <%= render partial: "change_rating_form", locals: {item: item} %>
                </div>
              </div>
              <p>
                <%= link_to 'Delete Bookmark', books_user_path(item), remote: true,
                        method: :delete,
                        data: { confirm: 'Are you sure?' },  class: "hollow button secondary small btn-action" %>
              </p>
            <% elsif (current_user && current_user.id != item.user_id) || !user_signed_in? %>
              <br>
              <%= button_to 'Save', books_users_path, method: :post, params: { book_data: item.book }, name: "save", class: "hollow button secondary small btn-action" %>
              <%= button_to 'Save in To-dos', books_users_path, method: :post, params: { book_data: item.book }, name: "save_to_do", class: "hollow button secondary small btn-action" %>
            <% end %>
          </div> <!-- closing div for partial -->
        <div class="small-12 large-12 cell "><hr></div>
      </div>
    </div> <!-- delete-div -->
  <% end %>
<% end %>
