<%= render "search_book_form" %>

<% if @empty_msg_books %>
  <p class="subheader"><%= @empty_msg_books %></p>
<% else %>
  <!-- This condition required for the same page is rendering form as well as results of form submission. -->
  <% if !@books.blank? %>
    <p class="subheader">Search Results for Books: <em>'<%= @search_query %>'</em>, Total: <%= @books.count %> found.</p>
    <br>
    <% @books.each do |book| %>
      <div id="delete-div<%= book.id %>" >
        <div class="grid-x grid-margin-x">
            <%= render partial: "layouts/book", object: book %>
            <br>
            <%= button_to 'Save', books_users_path, method: :post, params: { book_data: book }, name: "save", class: "hollow button secondary small btn-action" %>
            <%= button_to 'Save in To-dos', books_users_path, method: :post, params: { book_data: book }, name: "save_to_do", class: "hollow button secondary small btn-action" %>
          </div> <!-- closing div for partial -->
          <div class="small-12 large-12 cell "><hr></div>
        </div>
      </div> <!-- delete-div -->
    <% end %>
  <% end %>
<% end %>
