<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "MyBookmarks!" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <%= link_to root_path, class: "home" do %>
          <i class="fi-bookmark"></i>
          MyBookmarks
        <% end %>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <%- if current_user -%>
            <li class="menu-text">Welcome <%= current_user.first_name %>!</li>
            <li><%= link_to 'Update Profile', edit_user_registration_path %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <%- else -%>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <li><%= link_to 'Sign In', new_user_session_path %></li>
          <%- end -%>
        </ul>
      </div>
    </div>

    <div class="callout large primary">
      <div class="row column text-center">
        <h3 class="site-title"><i class="fi-bookmark"></i> My Bookmarks <i class="fi-bookmark"></i></h3>
        <h4 class="subheader">Create and save Bookmarks (Articles and Books) quickly!</h4>
        <h5 class="subheader">View recently Bookmarked items by clciking the links below!</h5>
        <p></p>
        <%- if current_user -%>
          <div class="button-group" id="main-menu">
            <!-- <a class="button custom">Articles</a> -->
            <%= link_to "My Article Bookmarks", articles_path, class: "button custom" %>
            <%= link_to '<i class="fi-plus" aria-hidden="true"></i>'.html_safe, new_article_path, title: "Add Article", class: "button arrow-only custom add-article" %>
          </div>
          <div class="button-group">
            <a class="button custom">My Book Bookmarks</a>
            <a class="button arrow-only custom">
              <i class="fi-plus" aria-hidden="true"></i>
              <span class="show-for-sr">Add Books</span>
            </a>
          </div>
        <%- else %>
          <%= link_to "Articles", articles_path, class: "button custom" %>
          <a class="button custom">Books</a>
        <%- end -%>

      </div>
    </div>

    <div class="grid-container">
      <div class="grid-x grid-margin-x" id="content">
        <div class="medium-9 cell bookmarks-data" >
        <%- flash.each do |key, value| -%>
        <div class="callout small flash-msg alert flash flash-<%= key %>">
          <%= value %>
        </div>
        <%- end -%>

          <%= yield %>
        </div>
        <div class="medium-3 cell" data-sticky-container>
          <div class="sticky" data-sticky data-anchor="content">
            <h5>Articles-Tags</h5>
            <ul class="custom-menu">
              <li><a href="#">Ruby</a></li>
              <li><a href="#">Rails</a></li>
              <li><a href="#">Java</a></li>
              <li><a href="#">Computer Science</a></li>
            </ul>

            <h5>Books-Categories</h5>
            <ul class="custom-menu">
              <li><a href="#">Science</a></li>
              <li><a href="#">Biography</a></li>
              <li><a href="#">Thriller</a></li>
              <li><a href="#">Psycology</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <p><br /><br /></p>
    <footer>
      <div class="grid-x">
        <div class="medium-6 cell">
          <ul class="menu custom-menu">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>

        <div class="medium-6 cell">
          <ul class="menu align-right">
            <li class="menu-text">© 2018 MyBookmarks</li>
          </ul>
        </div>
      </div>
    </footer>

  </body>
</html>
